In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
%matplotlib inline
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Svetlopolyansk,RU,2021-11-01 20:42:19,59.4184,52.3605,22.60,94,26,6.17
1,1,Nhulunbuy,AU,2021-11-01 20:42:19,-12.2333,136.7667,79.41,94,75,0.00
2,2,Ruwi,OM,2021-11-01 20:42:19,23.5996,58.5507,76.69,45,0,8.10
3,3,Gotera,ET,2021-11-01 20:42:20,8.9821,38.7585,52.39,78,53,2.86
4,4,Albany,US,2021-11-01 20:41:53,42.6001,-73.9662,54.45,42,17,1.01

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Nhulunbuy,AU,2021-11-01 20:42:19,-12.2333,136.7667,79.41,94,75,0.00
2,2,Ruwi,OM,2021-11-01 20:42:19,23.5996,58.5507,76.69,45,0,8.10
13,13,Vaini,TO,2021-11-01 20:42:24,-21.2000,-175.2000,80.76,83,75,11.50
16,16,Itupiranga,BR,2021-11-01 20:42:26,-5.1347,-49.3267,89.92,72,98,3.83
19,19,Hithadhoo,MV,2021-11-01 20:32:30,-0.6000,73.0833,81.79,78,84,19.39
24,24,Atuona,PF,2021-11-01 20:42:29,-9.8000,-139.0333,78.37,70,26,14.90
30,30,Maragogi,BR,2021-11-01 20:42:32,-9.0122,-35.2225,78.66,77,17,12.35
31,31,Isangel,VU,2021-11-01 20:42:32,-19.5500,169.2667,75.31,64,58,13.80
33,33,Les Cayes,HT,2021-11-01 20:42:33,18.2000,-73.7500,83.21,69,40,6.91
35,35,Namatanai,PG,2021-11-01 20:42:34,-3.6667,152.4333,80.78,77,39,3.98

In [19]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1    Nhulunbuy      AU     79.41 -12.2333  136.7667
2         Ruwi      OM     76.69  23.5996   58.5507
13       Vaini      TO     80.76 -21.2000 -175.2000
16  Itupiranga      BR     89.92  -5.1347  -49.3267
19   Hithadhoo      MV     81.79  -0.6000   73.0833
24      Atuona      PF     78.37  -9.8000 -139.0333
30    Maragogi      BR     78.66  -9.0122  -35.2225
31     Isangel      VU     75.31 -19.5500  169.2667
33   Les Cayes      HT     83.21  18.2000  -73.7500
35   Namatanai      PG     80.78  -3.6667  152.4333

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Nhulunbuy,AU,79.41,-12.2333,136.7667,East Arnhem Real Estate
2,Ruwi,OM,76.69,23.5996,58.5507,Al Falaj Hotel
13,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
16,Itupiranga,BR,89.92,-5.1347,-49.3267,Hotel Panorama
19,Hithadhoo,MV,81.79,-0.6000,73.0833,Scoop Guest House
24,Atuona,PF,78.37,-9.8000,-139.0333,Villa Enata
30,Maragogi,BR,78.66,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
31,Isangel,VU,75.31,-19.5500,169.2667,Tanna Lodge
33,Les Cayes,HT,83.21,18.2000,-73.7500,Villa Orphee
35,Namatanai,PG,80.78,-3.6667,152.4333,Seagulls Inn Namatani

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))